<hr />
<section>
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Das war's!</h4>
        <small>
            Du hast das Rezept zubereitet und es war lecker? Dann teile es mit deinen Freunden.
        </small>
        <div class="text-end">
            <button class="btn btn btn-primary text-white">Teilen 🔗</button>
        </div>
    </div>
</section>
<hr />
<section>
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Hat nicht geschmeckt?</h4>
        <small>
            Du hast Dein Bestes gegeben, das Rezept hat aber einfach nicht hinhauen wollen?
        </small>
        <div class="text-end">
            <button class="btn btn btn-primary text-white">Kommentieren 💬</button>
            <button class="btn btn btn-primary text-white">Kontakt ✉️</button>
        </div>
    </div>
</section>
