{{/*
  Alle eigenen Skripte als eine Datei (defer: läuft nach dem Parsen, also auch
  nach jQuery am Ende vom <body>). Fuse.js lädt search.js erst bei Bedarf nach.
  Zwischen den Dateien steht ";", damit sie sich nicht gegenseitig stören.
*/}}
{{ $files := slice "js/search.js" "js/tag-filter.js" "js/wake-lock.js" "js/tagmenu.js" "js/carousel.js" "js/main.js" }}
{{ $parts := slice }}
{{ range $files }}{{ $parts = $parts | append (printf "/* %s */\n%s\n;" . (resources.Get .).Content) }}{{ end }}
{{ with delimit $parts "\n" | resources.FromString "js/site.js" | minify | fingerprint }}
  <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
{{ end }}
